/* Global Selectors */
* {
    left: 0;
    margin: 0;
    top: 0;
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --primary_color: rgb(72, 185, 90);
    --primary_color_dark: rgb(36, 158, 56);
    --secondary_color: rgb(62, 123, 120);
    --light_gray: rgb(242, 242, 242);
}

/* Tag Selectors */
nav {
    width: 100vw;
    height: 25px; 
    background-color: var(--primary_color_dark);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24), 
                0 3px 8px rgba(0, 0, 0, 0.05);
}

nav > ul {
    list-style-type: none;
    position: relative;
    width: calc(100% - 10px);
    left: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav > ul > li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    margin-right: 25px;
    cursor: pointer;
    text-decoration: none;
    line-height: 24px;
    font-size: 14px;
}

/* Class Selectors */

/* ID Selectors */
#topbar {
    width: 100vw;
    height: 60px;
    background-color: var(--primary_color);
}

#topbar_title {
    position: relative;
    height: 100%;
    width: fit-content;
    cursor: pointer;
}

#topbar_title_icon {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#topbar_title_text {
    float: left;
    color: white;
    font-size: 24px;
    line-height: 60px;
}